---
import { getCollection } from "astro:content";
import { Picture } from "astro:assets";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Pagination from "@components/pagination.astro";

type Product = {
  data: {
    model: string;
    description: string;
    sku: string;
    image: {
      src: string;
      alt: string;
    };
    manufacturer: string;
    category: string;
    tags: string[];
  };
  slug: string;
};

type PageProps = {
  data: Product[];
  url: string;
};

// Get collection entries and sort them by a relevant product attribute
export async function getStaticPaths({ paginate }) {
  const PAGE_SIZE = 36;
  const allProducts = await getCollection("catalog");

  // If needed, sort products by a relevant attribute (e.g., name)
  const allSortedProducts = allProducts.sort((a, b) => {
    return a.data.model.localeCompare(b.data.model);
  });

  return paginate(allSortedProducts, {
    pageSize: PAGE_SIZE,
  });
}

const { page }: { page: PageProps } = Astro.props;
---

<Layout title="Product Catalog">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Product Catalog</Fragment>
      <Fragment slot="desc">
        View our entire range of Speakers, Mixer Amplifiers, Induction Loop Systems and Refuge Systems.
      </Fragment>
    </Sectionhead>
    <main class="mt-16">
      <ul class="grid sm:grid-cols-2 md:grid-cols-3 gap-10 lg:gap-16">
        {
          page.data.map((post, index) => (
            <li>
              <a href={`/catalog/${post.slug}`}>
                <div>
                  <Picture
                    formats={["avif", "webp"]}
                    src={post.data.image.src}
                    alt={post.data.image.alt}
                    sizes="(max-width: 800px) 100vw, 800px"
                    width={800}
                    height={600}
                    loading={index <= 2 ? "eager" : "lazy"}
                    decoding={index <= 2 ? "sync" : "async"}
                    class="w-full rounded-md object-cover"
                    transition-name={`post-img-${post.slug}`}
                  />
                  <div class="mt-4">
                    <span class="text-blue-400 uppercase tracking-wider text-xs font-medium">
                      {post.data.category}
                    </span>

                    <h2 class="text-xl font-semibold leading-snug tracking-tight mt-1">
                      {post.data.model}
                    </h2>

                    <div class="flex gap-2 mt-3 text-sm">
                      <span class="text-gray-400">{post.data.manufacturer}</span>
                    </div>
                  </div>
                </div>
              </a>
            </li>
          ))
        }
      </ul>
      <Pagination url={page.url} />
    </main>
  </Container>
</Layout>
